@font-face {
  font-family: "HM Sans Regular";
  src: url("https://db.onlinewebfonts.com/t/70f3e46b3bb904260d1b1a6e0f2edf08.eot");
  src: url("https://db.onlinewebfonts.com/t/70f3e46b3bb904260d1b1a6e0f2edf08.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/70f3e46b3bb904260d1b1a6e0f2edf08.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/70f3e46b3bb904260d1b1a6e0f2edf08.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/70f3e46b3bb904260d1b1a6e0f2edf08.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/70f3e46b3bb904260d1b1a6e0f2edf08.svg#HM Sans Regular")format("svg");
}

@font-face {
  font-family: "HM Sans Latin Bold";
  src: url("https://db.onlinewebfonts.com/t/4e6e57c2a88df92df489202798f556de.eot");
  src: url("https://db.onlinewebfonts.com/t/4e6e57c2a88df92df489202798f556de.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/4e6e57c2a88df92df489202798f556de.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/4e6e57c2a88df92df489202798f556de.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/4e6e57c2a88df92df489202798f556de.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/4e6e57c2a88df92df489202798f556de.svg#HM Sans Latin Bold")format("svg");
}
#root {
  background-color: #FAF9F8;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button {
  display : flex;
  flex-direction: row;
}
/*
.nav-section {
  display : flex;
  justify-content: center;
}*/
/*메뉴 네비게이션 바*/
.menu-area {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "HM Sans Regular";
  padding : 16px 32px;
}
.menu-list {
  display : flex;
  list-style-type : none;
  margin : 0;
}
.menu-list li {
  padding : 0;
  margin : 0;
  margin-left : 16px;
  margin-right : 16px;
  cursor : pointer;
  position : relative
}
.menu-list li > span {
  position : relative;
}
.menu-list li > span::after {
  content: '';
  width: 0%;
  left: 50%;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid black;
  transition:all .3s ease;
}
.menu-list li:hover > span::after {
  content: '';
  width: 100%;
  left: 0px;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid black;
  transition:all .3s ease;
}

.menu-area input {
  border-width : 0;
  outline : none;
  background-color: #FAF9F8;
  font-family: "HM Sans Regular";
}
.search-box {
  display : block;
  border-bottom-style : solid;
  border-bottom-width : 1px;
  border-bottom-color : black;
  position : absolute;
  right : 32px;
}
/*productCard*/
.productCard {
  width : 200px;
  cursor : pointer;
}
#productCard-img-box {
  overflow : hidden;
}
.productCard img{
  width : 200px;
  transition-duration: 0.3s;
}
.productCard img:hover {
  transform : scale(1.1);
  transition-duration : 0.3s; 
}
.login-button {
  cursor : pointer;
}

.product-img {
  display : flex;
  justify-content: flex-end;
}
/*헤더*/
.header {
  padding : 16px 32px;
  height : 99px;
  margin-bottom : 32px;
  display : flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/*헤더에 서비스-로고-유저정보 3등분*/
.service {
  flex : 1;
  display : flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.service div{
  margin : 0;
  margin-right : 16px;
  font-family: "HM Sans Regular";
  font-size : 13px;
  cursor : pointer;
}
.logo {
  flex : 1;
  display : flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  cursor : pointer;
}
.user-info {
  flex : 1;
  display : flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: "HM Sans Regular";
  font-size : 13px;
  cursor : pointer;
}
.user-info div {
  margin-right : 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}



/*메인 페이지*/
.mainContent{
  display : flex;
  flex-direction: column;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  padding : 16px 32px;
  white-space : pre-wrap;
}
.mainContent div {
  width : 960px;
  margin : 0;
  margin-top : 24px;
}
.mainContent img {
  width : 960px;
}
.main-product-wrap {
  position : relative;
  cursor : pointer;
}

.main-product-text {
  font-family: "HM Sans Latin Bold";
  font-size : 42px;
  position : absolute;
  top : 40%;
  left : 5%;
}
.main-product-button {
  background-color: black;
  color : white;
  border : none;
  position : absolute;
  top : 50%;
  left : 5%;
  height : 30px;
}

#main-desc {
  margin : 0;
  padding : 8px;
  margin-top : 32px;
  text-align : center;
  font-family: "HM Sans Regular";
  font-size : 13px;
}
#main-banner {
  background-color: #F2EDE4;
  height : 161px;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-banner h3 {
  color : #E50010;
}
#main-banner p {
  text-align : center;
}

/*상세 페이지(모든 제품이 보이는)*/
#product-one-img img{
  width : 100%;
}
.product-one-wrap {
  position : relative;
}
#product-one-text {
  font-family: "HM Sans Latin Bold";
  position : absolute;
  top : 45%;
  left : 10%;
  font-size : 90px;
}


/*footer*/
.footer {
  background-color: #E4E4E4;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "HM Sans Regular";
  padding : 64px 32px;
}
.footer-contents {
  display : flex;
  flex-direction: row;
  justify-content: center;
}
.footer-info {
  margin : 0;
  width : 60%;
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-info span {
  font-size : 11px;
}
.footer-info p {
  font-size : 13px;
  margin : 0;
}
.footer-icon {
  margin : 24px;
}
.sns {
  width : 100%;
  display : flex;
  flex-direction: row;
}
.sns li {
  width : 48px;
  list-style-type: none;
  cursor : pointer;
}

/*제품 세부 페이지*/
.sizeButton {
  display : flex;
  flex-direction: row;
  flex-wrap : nowrap;
}
.sizeButton button {
  width : 82px;
  margin : 0;
  margin : 10px;
  margin-left : 0;
  padding : 0;
  background-color: transparent;
  border : 1px solid #222222;

  &.active {
    background-color: black;
    color : white;
  }
}

.product-add {
  width : 100%;
  height : 40px;
  border : none;
  background-color : black;
  color : white;
}
@media(max-width : 1023px) {
  .main-product-img img {
    content:url('../public/img/mainPic2.jpg');
  }
}